  <!-- Navigation -->
  <nav>
    <div style="font-size: 30px ; background-color: rgb(88, 210, 123); text-align: center;">
      <div>
        <ul >
          <li style="display: inline-block; padding: 15px;">
            <a style="color: black;" href="/home">Home</a>
          </li>
          <li style="display: inline-block; padding: 15px;" >
            <a style="color: black;" href="/add-match">Add Match</a>
          </li>
          <li style="display: inline-block; padding: 15px;" >
            <a style="color: black;" href="/add-player">Add Player</a>
          </li>
          <li style="display: inline-block; padding: 15px;">
            <a style="color: black;" href="/attach-player">Attach Player to Match</a>
          </li>
            <li style="display: inline-block; padding: 15px;">
              <a style="color: black;" href="/logout">Log out</a>
          </li>
          <li style="display: inline-block; padding: 15px;">
            <a style="color: black;" href="/register-admin">New Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <body>