  <!-- Navigation -->
  <nav>
    <div style="font-size: 30px ;">
      <div>
        <ul>
          <li>
            <a href="/home">Home</a>
          </li>
          <li >
            <a  href="/add-match">Add Match</a>
          </li>
          <li >
            <a  href="/add-player">Add Player</a>
          </li>
          <li >
            <a  href="/attach-player">Attach Player to Match</a>
          </li>
            <li >
              <a  href="/auth/logout">Log out</a>
          </li>
          <li >
            <a href="/auth/register">New Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h1 style="color: red ;">--------------------------------------------------------------------------------------------------------------</h1>
  <body>