<%- include('layouts/header'); %>
<%- include('layouts/navbar'); %>
<div style="text-align: center; padding: 30px;"> 
    <form action="/add-match" method="post">
        <h1>ID: <input type="number" placeholder="ID" name="id">  </h1>
        <br>
        <h1>Team 1 Name: <input type="text" placeholder="Team 1" name="team1">  </h1>
        <br>
        <h1>Team 2 Name: <input type="text" placeholder="Team 1" name="team2"> </h1>
        <br>
        <h1>Date: <input type="date" name="date"> </h1>
        <br>
        <h1>
            <button type="submit">Add Match</button>
        </h1>
    </form>
    
</div>
</body>
</html>